@page "/reservationAndTables"

<div class="page-background">

    <div class="flex-container">
        <Button class="customButton" Clicked="@ShowNewReservationModal">New Reservation</Button>
        <Button class="customButton" Clicked="@ShowExistingReservationModal">Existing Reservation</Button>
        <Button class="customButton" Clicked="@ShowSitGuestModal">Sit Guests</Button>
    </div>


    <!-- New Reservation Modal -->
    <Modal @ref="newReservation" Animated="true">
        <ModalContent Centered>
            <ModalHeader>
                <ModalTitle>New Reservation</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <Field>
                    <FieldLabel>Name</FieldLabel>
                    <TextEdit Placeholder="Guest Name" />
                </Field>
                <Field>
                    <FieldLabel>Phone</FieldLabel>
                    <TextEdit Placeholder="Phone Number" />
                </Field>
                <Div Style="display:flex; justify-content:space-between">
                    <Field>
                        <FieldLabel>Reservation Date</FieldLabel>
                        <DateEdit TValue="DateTime?" />
                    </Field>
                    <Field>
                        <FieldLabel>Reservation Time</FieldLabel>
                        <TimeEdit TValue="TimeSpan?" />
                    </Field>
                    <div style="display:flex; flex-direction:column">
                        <FieldLabel>Number of people</FieldLabel>
                        <Select TValue="int">
                            <!-- Sorry for the redudancy I tried to make it with a for loop but 
                            it only shows the same number and I don't want to debug it -->
                            <SelectItem>1</SelectItem>
                            <SelectItem>2</SelectItem>
                            <SelectItem>3</SelectItem>
                            <SelectItem>4</SelectItem>
                            <SelectItem>5</SelectItem>
                            <SelectItem>6</SelectItem>
                            <SelectItem>7</SelectItem>
                            <SelectItem>8</SelectItem>
                        </Select>
                    </div>
                </Div>
                <Field>
                    <FieldLabel>Available Tables</FieldLabel>
                    <Select TValue="Table">

                    </Select>
                </Field>
 
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Light" Clicked="@HideNewReservationModal">Cancel</Button>
                <Button Color="Color.Dark"Clicked="@HideNewReservationModal">Reserve</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>

    <!-- Existing Reservation Modal -->
    <Modal @ref="existingReservation">
        <ModalContent Centered>
            <ModalHeader>
                <ModalTitle>Delete Reservation</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <Field>
                    <FieldLabel>Search by:</FieldLabel>
                    <TextEdit Placeholder="Phone Number" />
                </Field>
                <Field>
                    <TextEdit Placeholder="Guest Name" />
                </Field>
                <!-- Reservation Found Alert-->
                <Alert Color="Color.Success" Visible="true">
                    <AlertMessage>Reservation Found!</AlertMessage>
                    <AlertDescription>Please check the reservation details below.</AlertDescription>
                </Alert>
                <!-- Reservation Not Found Alert-->
                <Alert Color="Color.Danger" Visible="false">
                    <AlertMessage>No Reservations Found!</AlertMessage>
                    <AlertDescription>Plase check the search criteria.</AlertDescription>
                </Alert>
                <Button Style="width:100%; margin-top:2vh;" Color="Color.Dark" Outline Clicked="@HideExistingReservationModal">Search</Button>
                <Div Style="display:flex; justify-content:space-between; margin-top:2vh;">
                    <Field>
                        <FieldLabel>Reservation Date</FieldLabel>
                        <DateEdit Disabled TValue="DateTime?" />
                    </Field>
                    <Field>
                        <FieldLabel>Reservation Time</FieldLabel>
                        <TimeEdit Disabled TValue="TimeSpan?" />
                    </Field>
                    <div style="display:flex; flex-direction:column;">
                        <FieldLabel>Number of people</FieldLabel>
                        <Select Disabled TValue="int">
                            <!-- Sorry for the redudancy I tried to make it with a for loop but
                            it only shows the same number and I don't want to debug it -->
                            <SelectItem>1</SelectItem>
                            <SelectItem>2</SelectItem>
                            <SelectItem>3</SelectItem>
                            <SelectItem>4</SelectItem>
                            <SelectItem>5</SelectItem>
                            <SelectItem>6</SelectItem>
                            <SelectItem>7</SelectItem>
                            <SelectItem>8</SelectItem>
                        </Select>
                    </div>
                </Div>
            </ModalBody>
            <ModalFooter>
                <Button Clicked="@HideExistingReservationModal">Cancel</Button>
                <Button Color="Color.Danger" Clicked="@HideExistingReservationModal">Delete Reservation</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>

    <!-- Sit Guest Modal -->
    <Modal @ref="sitGuest">
        <ModalContent Centered>
            <ModalHeader>
                <ModalTitle>Sit Guest</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <Field>
                    <FieldLabel>Name</FieldLabel>
                    <TextEdit Placeholder="Guest's name" />
                </Field>
                <Field>
                    <FieldLabel>Phone</FieldLabel>
                    <TextEdit Placeholder="Phone number" />
                </Field>
                <Field>
                    <FieldLabel>Number of people</FieldLabel>
                    <Select TValue="int">
                        <!-- Sorry for the redudancy I tried to make it with a for loop but
                        it only shows the same number and I don't want to debug it -->
                        <SelectItem>1</SelectItem>
                        <SelectItem>2</SelectItem>
                        <SelectItem>3</SelectItem>
                        <SelectItem>4</SelectItem>
                        <SelectItem>5</SelectItem>
                        <SelectItem>6</SelectItem>
                        <SelectItem>7</SelectItem>
                        <SelectItem>8</SelectItem>
                    </Select>
                </Field>
                <Field>
                    <FieldLabel>Available Tables</FieldLabel>
                    <Select TValue="Table">
                        
                    </Select>
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button Clicked="@HideSitGuestModal">Cancel</Button>
                <Button Color="Color.Dark" Clicked="@HideSitGuestModal">Sit Guests</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>
</div>


<footer>
    Photo by <a href="https://unsplash.com/@@iamhiteshdewasi?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Hitesh Dewasi</a> on <a href="https://unsplash.com/photos/5JwBbnyZzfc?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
</footer>

@code {
    // reference to the modal component
    private Modal newReservation;
    private Modal existingReservation;
    private Modal sitGuest;

    

    private Task ShowNewReservationModal()
    {
        return newReservation.Show();
    }

    private Task HideNewReservationModal()
    {
        return newReservation.Hide();
    }

    private Task ShowExistingReservationModal()
    {
        return existingReservation.Show();
    }

    private Task HideExistingReservationModal()
    {
        return existingReservation.Hide();
    }
    private Task ShowSitGuestModal()
    {
        return sitGuest.Show();
    }

    private Task HideSitGuestModal()
    {
        return sitGuest.Hide();
    }

    private void SearchReservation()
    {
        throw new NotImplementedException();
    }
   
}
